tensorflow
numpy
scipy
opencv-python
pillow
pandas
matplotlib
h5py
keras
mediapipe
eventlet
python-socketio[client]
imageio-ffmpeg
flask
flask-cors
flask-socketio
python-socketio
mysql-connector-python